/* CSS */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e6f3ff; /* Fond bleu clair */
}

#container {
    background-color: #ffffff; /* Fond blanc */
    border-radius: 10px; /* Bordure arrondie */
    padding: 20px;
    width: 80%;
    margin: 20px auto;
}

h1 {
    color: #ff0000; /* Titre en rouge */
    background-color: #ffe6e6; /* Fond du titre */
    border-radius: 10px; /* Bordure arrondie pour le titre */
    padding: 10px;
}

.solution {
    font-weight: bold;
    margin-bottom: 10px;
}

.clicks-required {
    margin-bottom: 10px;
}

.progress-bar {
    height: 20px;
    background-color: #4CAF50; /* Barre de progression verte par défaut */
    width: 0; /* La largeur de la barre de progression sera gérée par JavaScript */
    transition: width 0.5s ease-in-out; /* Animation de transition pour la barre de progression */
}

/* Styles spécifiques pour chaque solution */
.solution-H2O .progress-bar {
    background-color: blue; /* Couleur pour la solution H2O */
}

.solution-O2 .progress-bar {
    background-color: red; /* Couleur pour la solution O2 */
}

.solution-NaOH .progress-bar {
    background-color: green; /* Couleur pour la solution NaOH */
}

.solution-NaCl .progress-bar {
    background-color: orange; /* Couleur pour la solution NaCl */
}
