body {
    font-family: Arial, sans-serif;
    background-image: url('fond marinjpg.jpg'); 
    background-size: 100% 100vh;
    background-position: relative;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 100%; 
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#depthScale {
    width: 40px; /* Largeur de l'échelle */
    height: 100vh; /* Hauteur de l'échelle, prenant toute la hauteur de la fenêtre */
    background-color: skyblue;
    position: fixed; /* Position fixe pour rester toujours visible */
    top: 0; /* Position en haut de la fenêtre */
    right: 20px; /* Position à droite de la fenêtre */
    border-radius: 4px; /* Coins arrondis */
    overflow: hidden; /* Masquer le débordement pour une meilleure apparence */
  }
  
.tick {
    width: 100%; /* Largeur de la tick */
    height: 1px; /* Hauteur de la tick */
    background-color: #000; /* Couleur de la tick */
    position: absolute; /* Position absolue pour positionner correctement */
  }
  
.tick::after {
    content: '';
    position: absolute; /* Position absolue pour positionner correctement */
    top: -10px; /* Positionnement de l'étiquette de la tick */
    right: 0; /* Alignement à droite de l'étiquette */
    font-size: 12px; /* Taille de la police de l'étiquette */
  }
.tickLabel {
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    font-size: 12px;
    color: #000;
}

.boutique {
    flex: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2); 
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.content {
    flex: 1;
    padding: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

h1 {
    color: #333;
    margin-top: 0; 
    position: absolute; 
    top: 20px;
    left: 50%; 
    transform: translateX(-50%); 
}

p {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}


